<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="show_sql">true</property>

        <!--<mapping resource="User.hbm.xml"/>-->
        <!--<mapping class="com.modal.annotation.Employee"/>-->

        <!--IS-A RelationShip Configuration base-->

        <!--Table Per Hierachy Class-->
        <!--<mapping resource="com/modal/configuration/InheritanceMapping/IS_A/TablePerHierachy.hbm.xml"/>-->

        <!--Table Per Sub Class-->
        <!--<mapping resource="com/modal/configuration/InheritanceMapping/IS_A/TablePerSubclass.hbm.xml"/>-->

        <!--Table Per Concrete Class-->
        <!--<mapping resource="com/modal/configuration/InheritanceMapping/IS_A/TablePerConcreteClass.hbm.xml"/>-->

        <!--IS-A RelationShip Annotation base-->

        <!--SINGLE_TABLE Mapping-->
        <!--<mapping class="com.modal.annotation.IS_A_InheritanceMapping.SINGLE_TABLE.Emp"/>
        <mapping class="com.modal.annotation.IS_A_InheritanceMapping.SINGLE_TABLE.ContractEmp"/>
        <mapping class="com.modal.annotation.IS_A_InheritanceMapping.SINGLE_TABLE.RegularEmp"/>-->

        <!--JOINED_TABLE Mapping-->
        <mapping class="com.modal.annotation.IS_A_InheritanceMapping.JOINED_TABLE.Emp"/>
        <mapping class="com.modal.annotation.IS_A_InheritanceMapping.JOINED_TABLE.ContractEmp"/>
        <mapping class="com.modal.annotation.IS_A_InheritanceMapping.JOINED_TABLE.RegularEmp"/>

    </session-factory>
</hibernate-configuration>